.sectionX {
  padding-left: 10em;
  padding-right: 10em;
}

.section-header {
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  text-align: center;
}

.section-header label {
  color: var(--clr-primary-500);
  font-weight: 600;
}

/* Header Section */

.main-header {
  padding-top: var(--mpr-s);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right-section {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

.header-right-section .nav {
  display: flex;
  gap: 4em;
}

.header-right-section .nav a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.header-right-section .nav a.active {
  color: var(--clr-primary-500);
}

.header-right-section .nav a:hover {
  text-decoration: underline;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

.action-buttons .bi {
  color: black;
}

/* Hero Section */
.hero-section {
  padding-top: 5em;
  padding-bottom: 5em;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.hero-blob {
  height: 1100px;
  position: absolute;
  top: -24em;
  right: -18em;
  /* transform: rotate(-5deg); */
  z-index: -1;
}

.hero-section .hero-left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-section .hero-heading {
  font-size: 2.5rem;
}

.hero-section .hero-left-para {
  margin-bottom: calc(2.5 * var(--mpr-m));
}

.hero-side-img {
  height: 25em;
  position: absolute;
  bottom: -12.5em;
  left: -2.5em;
  transform: rotate(60deg);
  z-index: -1;
}

/* Visit Info Section  */
.visit-info-section {
  padding-top: 5em;
  padding-bottom: 5em;
  display: flex;
  gap: 5em;
}

.visit-info-section .info-box {
  padding: var(--mpr-xl);
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1px solid #00000014; /* border-thickness  type-of-border-line  color  */
  box-shadow: -1em 1em 1em #00000014; /* x y blur color  */
  border-radius: 0 var(--mpr-xl) 0 var(--mpr-xl);
}

/* Menu Section */

.menu-section {
  margin-top: 5em;
  margin-bottom: 5em;
}

.menu-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
}

.food-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  border-radius: 0 var(--mpr-xl) 0 var(--mpr-xl);
  overflow: hidden;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.food-img {
  width: 100%;
  object-fit: cover;
}

.food-details {
  padding: 1em;
}

.food-details .food-title {
  font-size: 1.5rem;
}

.food-details .food-subtitle {
  margin-top: -0.5em;
  font-size: 0.8rem;
}

.food-details .price {
  margin-bottom: 0.5em;
  font-size: 1.2rem;
  font-weight: 600;
}

.add-to-cart {
  height: max-content;
  width:max-content ;
  padding: var(--mpr-m);
  padding-top: var(--mpr-s);
  padding-bottom: var(--mpr-s);
  background-color: var(--clr-primary-500);
  border-top-left-radius:50% ;
  position: absolute;
  bottom: 0;
  right: 0;
}

.add-to-cart i{
  font-weight: 900;
  color: white ;

}

.menu-button{
  display: flex;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

/* Testimonial Section */
.testimonial-section{
  display: flex;
  justify-content: center;
}

/* Opinion Section */
.opinion-section{
  display: flex;
  justify-content: center;
}

.opinion-box{
  display: flex;
  flex-direction: column;
 
}

